.navigation {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include mediaXl {
        font-size: 18px;
    }

    &__list {
        display: flex;
        column-gap: 50px;
        padding: 0 15px;

        @include mediaXl {
            column-gap: 20px;
        }

    }
}

.navigation__link {
    color: #23040180;

    &:hover {
        color: $main;
    }
}



